/vendor/
/node_modules/

npm-debug.log
yarn-error.log
pnpm-debug.log

.env
.env.backup
.env.*

/public/storage
/storage/*.key

# Laravel specific
bootstrap/cache/*.php
bootstrap/cache/*.json
storage/app/*.json
storage/app/public
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs/*.log

# IDE / system
.idea/
.vscode/
.DS_Store
Thumbs.db

# Composer / PHP
composer.phar

# Logs
*.log

# Node
package-lock.json

# Misc
/public/hot
/public/mix-manifest.json
